{% extends "layout.html" %}

{% block chome %}

<!--HOME-->
<div id="home" class="jumbotron">

  <!--title-->
  <div id="hometi">
    <h1 class="display-4" style="color: #2593C8;">English Course with Luis</h1>
    <p class="lead">Welcome</p>
    <hr class="my-2" style="background: #2593C8;">
  </div>

  <!--home content-->
  <div id="homesp" class="spinner-grow spinner-grow-sm text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <span id="homeco"><strong>Pagina en desarrollo.</strong> Solo hay acceso al contenido
    de las clases.
  </span>
  
  <!--button-->
  <a id="homebu" class="btn btn-primary" style="background:#2593C8;"
    href="/#" role="button">Saber más</a>

</div>

<!--CONTENT-->
<div id="cont" class="jumbotron">

  <!--title-->
  <div id="contti">
    <h1 class="display-5">Content</h1>
    <hr class="my-2" style="background: #2593C8;">
  </div>

  <!--home content-->
  {% include 'content.html' %}
  
  <!--button-->
  <a id="contbu" class="btn btn-primary" style="background:#2593C8;"
    href="/#" role="button">Saber más</a>

</div>

{% endblock %}